<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "profile", media: "all" %>
<% end %>

<div class="profile-container">
  <!-- ヘッダー -->
  <div class="profile-header">
    <!-- プロフィール画像 -->
    <% if @user.profile_image.attached? %>
      <%= image_tag @user.profile_image, alt: "プロフィール画像", class: "profile-profile_image" %>
    <% else %>
      <%= image_tag "default_profile_image.png", alt: "デフォルトプロフィール画像", class: "profile-profile_image" %>
    <% end %>
  </div>

<!-- ユーザー情報 -->
<div class="profile-info">
  <h1><%= @user.username %></h1>
  <% if current_user == @user %>
    <%= link_to "プロフィールを編集", edit_user_path(@user), class: "profile-edit-btn" %>
  <% end %>
  
  <!-- 自己紹介 -->
  <% if @user.bio.present? %>
    <div class="bio-container">
      <p class="bio-text" id="bio-text">
        <%= @user.bio %>
      </p>
      <% if @user.bio.length > 300 %>
        <button class="show-more-btn" id="show-more-btn">続きを見る</button>
      <% end %>
    </div>
  <% else %>
    <p class="profile-bio">自己紹介文がまだありません。</p>
  <% end %>
</div>

  <!-- SNSリンク -->
<div class="profile-social-links">
  <% if @user.website.present? %>
    <%= link_to @user.website, target: "_blank", class: "social-link website" do %>
      <i class="fas fa-globe"></i> Website
    <% end %>
  <% end %>

  <% if @user.twitter.present? %>
    <%= link_to @user.twitter, target: "_blank", class: "social-link twitter" do %>
      <i class="fab fa-twitter"></i> Twitter
    <% end %>
  <% end %>

  <% if @user.instagram.present? %>
    <%= link_to @user.instagram, target: "_blank", class: "social-link instagram" do %>
      <i class="fab fa-instagram"></i> Instagram
    <% end %>
  <% end %>

  <% if @user.facebook.present? %>
    <%= link_to @user.facebook, target: "_blank", class: "social-link facebook" do %>
      <i class="fab fa-facebook"></i> Facebook
    <% end %>
  <% end %>
</div>
